html {
  font-size: 48px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #fff;
}

.box {
  position: relative;
  background: #500;
  border: 0.25rem solid #2c2d31;
  border-top: 0;
  box-sizing: border-box;
  height: 6rem;
  width: 4rem;
  outline: 0;
  overflow: hidden;

  &::before {
    content: "this is the blood of christ :3";
    font-family: Arial;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &::after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 40%;
    animation: spin 6s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(360deg);
  }
}
